{% extends 'base-part.html' %}
{% load static %}



{% block content %}
  <main class="main-content">
    <section class="hero container-info">
      <h1>География</h1>
      <h2 class="stat-header">Уровень зарплат по городам</h2>
      <div class="section-stat">
        
        <div class="table-container">
        <p class="stat-info">На следующих графике и таблице вы можете увидеть уровень зарплат по городам (в порядке убывания). Зарплата учтена с учетом конвертации зарплаты в рубли.</p>
        <img src="{% static '/get-statistic/graphics/table_salary_city.png' %}" width="700" class="table stat-image">
        </div>
        <img src="{% static '/get-statistic/graphics/salary-city.png' %}" class="big-graphic stat-image">
        
      </div>
    </section>    
  </main>

    <script src="{% static 'scrips/font.js'%"}></script>
    <script src="{% static 'scrips/theme.js'%}"></script>
{% endblock %}

