{% extends 'base-part.html' %}
{% load static %}



{% block content %}
  <main class="main-content">
    <section class="hero container-info">
      <h1>География</h1>
      <h2 class="stat-header">Уровень зарплат по городам</h2>
      <div class="section-stat">
        
        <div class="table-container">
        <p class="stat-info"> {{ content.text_geography1 }} </p>
        <img src="{% static '/get-statistic/graphics/table_salary_city.png' %}" width="700" class="table stat-image">
        </div>
        <img src="{% static '/get-statistic/graphics/salary-city.png' %}" class="big-graphic stat-image">
      </div>

      <h2 class="stat-header">Доля вакансий по городам</h2>
      <div class="section-stat">

        <div class="table-container">
        <p class="stat-info">Из графиков ниже мы видим, что в крупных городах СНГ количество вакансий больше, что закономерно. Информация предоставлена сайтом HH.ru, который популярен в основном в России и странах ближнего зарубежья.</p>
        
        <img src="{% static '/get-statistic/graphics/table_count_city.png' %}" width="700" class="table stat-image">
        </div>
        <img src="{% static '/get-statistic/graphics/count_city.png' %}" class="big-graphic stat-image">
      </div>

      <h2 class="stat-header">Уровень зарплат по городам для профессии 1С-разработчик</h2>
      <div class="section-stat">

        <div class="table-container">
        <p class="stat-info">Вас может удивить список городов, представленный в этом блоке. Так произошло потому, что вакансий в этих городах мало, и так уж совпало, что платят на этих вакансиях много. Не могу сказать, что эти данные являются объективными, но в тз этого не было ;-)</p>
        <img src="{% static '/get-statistic/graphics/table_salary_city_vac.png' %}" width="700" class="table stat-image">
        </div>
        <img src="{% static '/get-statistic/graphics/salary_city_vac.png' %}" class="big-graphic stat-image">
      </div>

      <h2 class="stat-header">Доля вакансий по городам для профессии 1С-разработчик</h2>
      <div class="section-stat">

        <div class="table-container">
        <p class="stat-info">Как мы можем заметить информация о доли вакансий по городам для профессии 1С-разработчика не сильно отличается от информации по всем вакансиям, что неудивительно.</p>
        <img src="{% static '/get-statistic/graphics/table_count_city_vac.png' %}" width="700" class="table stat-image">
        </div>
        <img src="{% static '/get-statistic/graphics/count_city_vac.png' %}" class="big-graphic stat-image">
      </div>
    </section>    
  </main>

    <script src="{% static 'scrips/font.js'%"}></script>
    <script src="{% static 'scrips/theme.js'%}"></script>
{% endblock %}

