{% extends 'base-part.html' %}
{% load static %}



{% block content %}
    <main class="main-content">
      <section class="hero">
        <h1>Кто такой 1С разработчик?</h1>
        <img src="{% static 'img/main-photo.jpg' %}" width="1170" height="auto" alt="Парусное судно на закате">
      </section>
      <section class="news">
        <article class="post">
          <div class="post-content">
            <h2>Краткое описание профессии</h2>
            <p>{{ content.text_main1|linebreaks }}</p>
            <h3>Вот несколько ключевых аспектов этой профессии:</h3>
            <ul>
              <li><h4>Знание платформы 1С: Предприятие:</h4> Разработчик должен быть знаком с основами платформы, включая язык запросов (1C:Query Language) и язык программирования (1C:Enterprise script).</li>
              <li><h4>Проектирование и анализ:</h4> Разработчик должен способен анализировать потребности предприятия и проектировать соответствующие информационные системы, обеспечивая их эффективную работу.</li>
              <li><h4>Программирование на 1C:Enterprise script:</h4> Этот язык программирования используется для создания бизнес-логики приложений. Разработчик должен быть знаком с различными типами объектов и методами их взаимодействия.</li>
              <li><h4>Интеграция с другими системами:</h4> 1C-разработчики должны иметь навыки интеграции информационных систем, написанных на "1С: Предприятие", с другими программами и сервисами.</li>
              <li><h4>Оптимизация и тестирование:</h4> Разработчик отвечает за оптимизацию производительности информационных систем, а также за проведение тестирования приложений для обеспечения их стабильной работы.</li>
              <li><h4>Поддержка и обновление:</h4> После внедрения системы разработчик отвечает за ее поддержку, обновление и устранение возможных проблем.</li>
              <li><h4>Обучение пользователей:</h4> Важной частью работы 1C-разработчика является обучение конечных пользователей работе с новыми системами и функционалом.</li>
            </ul>
          <p>{{ content.text_main2|linebreaks }}</p>

          </div>
          <footer class="post-footer">
            <img class="post-author-img" src="{% static 'img/ChatGPT_logo.svg.png' %}" width="60" height="60">
            <p class="post-meta">
              <a href="#">Чатец Гптшников</a>
              <time datetime="2021-06-20">21.01.2024</time>
            </p>
          </footer>
        </article>
      </section>
      
    </main>

    <script src="{% static 'scrips/font.js'%"}></script>
    <script src="{% static 'scrips/theme.js'%}"></script>
  {% endblock %}

