{% extends 'base-part.html' %}
{% load static %}



{% block content %}
  <main class="main-content">
    <section class="hero container-info">
      <h1>Востребованность</h1>
      <h2 class="stat-header">Динамика уровня зарплат по годам</h2>
      <div class="section-stat">

        <div class="table-container">
          <div class="first-column-container">
            <div class="text">
              <p class="stat-info-pop">{{ content.text_actual1 }}</p>
            </div>
            <img src="{% static '/get-statistic/graphics/salary_year.png' %}" class="big-graphic stat-image">
          </div>
          <img src="{% static '/get-statistic/graphics/table_salary_year.png' %}" width="400" class="table stat-image">
        </div>
        
      </div>

      <h2 class="stat-header">Динамика количества вакансий по годам</h2>
      <div class="section-stat">

        <div class="table-container">
          <div class="first-column-container">
            <div class="text">
            <p class="stat-info-pop">Из данных, полученных с портала HH.ru мы видим, что количество вакансий с годами также имеет свойство расти. Хотя в последние пару лет, количество вакансий уменьшается, с чем это связано непонятно. Мои предположения самые разные: COVID-19, кривой датасет, кризис. Надеюсь, каждый сможет найти ответ самостоятельно в интернете, если ему интересно.</p>
            <p class="stat-info-pop">Анекдот:</p>
            <p class="stat-info-pop">Брежнев вызывает космонавтов:<br/>
              - Американцы высадились на Луну! Мы не должны отставать. Начинаем
              готовить полет на солнце.<br/>
              Космонавты:<br/>
              - Так мы же сгорим, товарищ Брежнев!<br/>
              Брежнев:<br/>
              - Партия об этом позаботилась. Ночью будете высаживаться!<br/>
              Космонавты подумали:<br/>
              - Так ночью мы его не найдем!</p>
            </div>
            <img src="{% static '/get-statistic/graphics/count_year.png' %}" class="big-graphic stat-image">
          </div>
        <img src="{% static '/get-statistic/graphics/table_count_year.png' %}" width="400" class="table stat-image">
        </div>
        
      </div>

      <h2 class="stat-header">Динамика уровня зарплат по годам для профессии 1С-разработчик</h2>
      <div class="section-stat">

        <div class="table-container">
          <div class="first-column-container">
            <div class="text">
              <p class="stat-info-pop">{{ content.text_actual3 }}</p>
            </div>
            <img src="{% static '/get-statistic/graphics/salary_year_vac.png' %}" class="big-graphic stat-image">
          </div>
        <img src="{% static '/get-statistic/graphics/table_salary_year_vac.png' %}" width="400" class="table stat-image">
        </div>
        
      </div>

      <h2 class="stat-header">Динамика количества вакансий по годам для профессии 1С-разработчик</h2>
      <div class="section-stat">

        <div class="table-container">
          <div class="first-column-container">
            <div class="text">
            <p class="stat-info-pop">{{ content.text_actual4 }}</p>
            </div>
            <img src="{% static '/get-statistic/graphics/count_year_vac.png' %}" class="big-graphic stat-image">
          </div>
            <img src="{% static '/get-statistic/graphics/table_count_year_vac.png' %}" width="400" class="table stat-image">
        </div>
        
      </div>
    </section>    
  </main>

    <script src="{% static 'scrips/font.js'%"}></script>
    <script src="{% static 'scrips/theme.js'%}"></script>
{% endblock %}

